.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
}

.sticky::before {
  content: "";
  position: absolute;
  background: var(--md-sys-color-surface-container-low);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  align-items: center;
}

.logoWrapper {
  height: 100%;
  padding: 4px 0;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo {
  height: 100%;
  width: auto;
}

.grid {
  display: flex;
}
