.section {
  margin: 0 var(--page-padding) var(--section-spacing);
  text-align: center;
  display: grid;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  background: var(--md-sys-color-surface);
  height: auto;
  border-radius: var(--border-radius-m);
  margin-bottom: var(--gap-m);
  max-height: 80vh;
  object-fit: contain;
}

.caption {
  text-align: center;
  width: 100%;
  font-size: medium;
}
