.button {
  padding: 12px 24px;
  border-radius: 100vw;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: var(--font-size-m);
  line-height: var(--font-size-l);
  z-index: 1;
  transition: all 250ms;
  position: relative;
  transition: box-shadow 250ms, background-color 250ms;
  display: inline-flex;
  text-align: center;
}

.button > .touchEffect {
  position: absolute;
  width: 33%;
  top: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.button :first-child {
  left: 0;
}

.button :last-child {
  right: 0;
}

.button::before {
  content: "";
  position: absolute;
  background: var(--md-sys-color-primary);
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  z-index: -1;
  transition: transform 1000ms 200ms, opacity 200ms;
  opacity: 0;
}

.button:active::before {
  transform: scale(20);
  opacity: 0.2;
  transition: transform 1000ms, opacity 500ms;
}

.button:has(:first-child:active)::before {
  margin-left: 0;
}

.button:has(:last-child:active)::before {
  margin-right: 0;
}

.button:has(:first-child:active)::before,
.button:has(:last-child:active)::before {
  transition: transform 500ms, opacity 250ms;
}

/* -------------------Size----------------------- */

.buttonSizeS {
  padding: 6px 12px;
}

.buttonSizeL {
  padding: 20px 40px;
}

.buttonSizeXL {
  padding: 30px 60px;
}

/* -------------------Elevated----------------------- */

.buttonVariantElevated {
  background: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-primary);
  /* box-shadow: var(--md-sys-elevation-1); */
}
.buttonVariantElevated:hover,
.buttonVariantElevated:focus-visible {
  background: var(--md-sys-color-surface-container);
  /* box-shadow: var(--md-sys-elevation-2); */
}
.buttonVariantElevated::before {
  /* при клике затемняется */
  background: var(--md-sys-color-primary);
}
/* .buttonVariantElevated:active { */
/* box-shadow: var(--md-sys-elevation-1); */
/* } */

/* -------------------Filled----------------------- */

.buttonVariantFilled {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}
.buttonVariantFilled:hover,
.buttonVariantFilled:focus-visible {
  /* чуть СВЕТЛЕЕ чем --md-sys-color-primary */
  background: var(--md-ref-palette-primary50);
  box-shadow: var(--md-sys-elevation-1);
}
.buttonVariantFilled::before {
  /* при клике осветляется */
  background: var(--md-sys-color-primary-container);
}

.buttonVariantFilled:active {
  box-shadow: var(--md-sys-elevation-0);
}

/* -------------------FilledTonal----------------------- */

.buttonVariantFilledTonal {
  background: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.buttonVariantFilledTonal:hover,
.buttonVariantFilledTonal:focus-visible {
  box-shadow: var(--md-sys-elevation-1);
}
.buttonVariantFilledTonal::before {
  background: var(--md-sys-color-surface-container);
}
.buttonVariantFilledTonal:active {
  box-shadow: var(--md-sys-elevation-0);
}

/* -------------------Outlined----------------------- */

.buttonVariantOutlined {
  background: none;
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-outline);
}

.buttonVariantOutlined:hover,
.buttonVariantOutlined:focus-visible {
  background: var(--md-sys-color-surface-container-high);
  box-shadow: var(--md-sys-elevation-0);
}

/* -------------------Text----------------------- */

.buttonVariantText {
  background: none;
  color: var(--md-sys-color-primary);
}

.buttonVariantText:hover,
.buttonVariantText:focus-visible {
  background: var(--md-sys-color-surface-container-high);
  box-shadow: var(--md-sys-elevation-0);
}

/* -------------------Underlined----------------------- */

.buttonVariantUnderlined {
  background: none;
  color: var(--md-sys-color-primary);
  text-decoration: underline;
  font-size: var(--font-size-l);
  padding: 8px;
  margin-bottom: -12px;
}

.buttonVariantUnderlined:hover,
.buttonVariantUnderlined:focus-visible {
  background: var(--md-sys-color-surface-container-high);
  box-shadow: var(--md-sys-elevation-0);
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* -------------------- */

.buttonSizeS > .content {
  gap: 4px;
}

.buttonSizeL > .content {
  gap: 12px;
  font-size: var(--font-size-l);
}

.buttonSizeXL > .content {
  gap: 16px;
  font-size: var(--font-size-xl);
}

/* -------------------- */

.button:has(.startIcon) {
  padding-left: 16px;
}

.buttonSizeS:has(.startIcon) {
  padding-left: 8px;
}

.buttonSizeL:has(.startIcon) {
  padding-left: 28px;
}

.buttonSizeXL:has(.startIcon) {
  padding-left: 44px;
}

/* -------------------- */

.button:has(.endIcon) {
  padding-right: 16px;
}

.buttonSizeS:has(.endIcon) {
  padding-right: 8px;
}

.buttonSizeL:has(.endIcon) {
  padding-right: 28px;
}

.buttonSizeXL:has(.endIcon) {
  padding-right: 44px;
}

.startIconImg{
  
}
