@import url(tokens.css);
/* @import url(colors.module.css); */
/* @import url(typography.module.css); */
@import url(theme.light.css);
@import url(theme.dark.css);

:root {
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 36px;
  --font-size-xxxxxl: 48px;
  --font-size-xxxxxxl: 72px;

  --gap-s: 8px;
  --gap-m: 16px;
  --gap-l: 32px;
  --gap-xl: 64px;
  --gap-xxl: 128px;
  --gap-xxxl: 246px;

  /* Расстояние от слайса до боковых границ страницы */
  --page-padding: 16px;
  /* Расстояние между слайсами(секциями) */
  --section-spacing: var(--gap-xl);
  /* Расстояние между элементами внутри слайса(секции) */
  --section-element-spacing: var(--gap-m);
  /* Растояние между элементами (Например, между кнопками идущими подряд) */
  --list-item-spacing: var(--gap-m);

  --border-radius-s: 16px;
  --border-radius-m: 32px;
  --border-radius-l: 48px;

  --breakpoint-s: 600px;
  --breakpoint-m: 1200px;
  --breakpoint-l: 1599px;
  --breakpoint-xl: 1900px;
  color-scheme: dark light;

  --md-sys-color-shadow-rgb: 0 0 0;
  --md-sys-elevation-0: 0px 0px 0px 0px
      rgb(var(--md-sys-color-shadow-rgb) / 0.2),
    0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow-rgb) /
          0.2),
    0px 2px 2px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 1px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-2: 0px 2px 4px -1px rgb(var(--md-sys-color-shadow-rgb) /
          0.2),
    0px 4px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 1px 10px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-3: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) /
          0.2),
    0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-4: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) /
          0.2),
    0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
  --md-sys-elevation-5: 0px 8px 10px -6px rgb(var(--md-sys-color-shadow-rgb) /
          0.2),
    0px 16px 24px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
    0px 6px 30px 5px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: 100%;
}

html {
  width: 100%;
  height: 100vh;
  font-size: var(--font-size-m);
  font-family: Montserrat, sans-serif;
  background: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  font-display: swap;
}

body {
  line-height: 1.7;
}

/* main > :first-child { */
/* background: red; */
/* padding-top: calc(var(--section-spacing) / 2); */
/* } */

#__next {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-xxxxl);
  padding: 72px 0 36px;
  max-width: 20ch;
}

h2 {
  font-size: var(--font-size-xxxl);
  padding: 48px 0 24px;
  max-width: 28ch;
}

h3 {
  font-size: var(--font-size-xxl);
  padding: 36px 0 16px;
  max-width: 28ch;
}

h4 {
  font-size: var(--font-size-xl);
  padding: 24px 0 16px;
}

h5 {
  font-size: var(--font-size-l);
  padding: 16px 0 12px;
}

h6 {
  font-size: var(--font-size-m);
  padding: 12px 0 8px;
}

p {
  max-inline-size: 65ch;
  /* max-inline-size: 55ch; */
  /* max-width: 65ch; */
}

@media (min-width: 600px) {
  :root {
    --page-padding: 24px;
    --section-spacing: var(--gap-xxl);
  }
  html {
    font-size: var(--font-size-l);
  }
  h1 {
    font-size: var(--font-size-xxxxxl);
  }

  h2 {
    font-size: var(--font-size-xxxxl);
  }

  h3 {
    font-size: var(--font-size-xxxl);
  }
  h4 {
    font-size: var(--font-size-xxl);
  }
}

@media (min-width: 1200px) {
  :root {
    --page-padding: var(--gap-xl);
    --section-spacing: var(--gap-xxl);
    --section-element-spacing: var(--gap-l);
  }
  html {
    font-size: var(--font-size-l);
  }
  h1 {
    font-size: var(--font-size-xxxxxxl);
  }

  h2 {
    font-size: var(--font-size-xxxxxl);
  }

  h3 {
    font-size: var(--font-size-xxxxl);
  }
  h4 {
    font-size: var(--font-size-xxxl);
  }
}

@media (min-width: 1599px) {
  :root {
    --page-padding: var(--gap-xxl);
    --section-spacing: var(--gap-xxl);
    --section-element-spacing: var(--gap-xl);
  }
  html {
    font-size: var(--font-size-xl);
  }
  h1 {
    font-size: var(--font-size-xxxxxxl);
  }

  h2 {
    font-size: var(--font-size-xxxxxl);
  }

  h3 {
    font-size: var(--font-size-xxxxl);
  }
  h3 {
    font-size: var(--font-size-xxxl);
  }
}

@media (min-width: 1900px) {
  :root {
    --page-padding: var(--gap-xxxl);
    --section-spacing: var(--gap-xxxl);
  }
  html {
    font-size: var(--font-size-xl);
  }
  h1 {
    font-size: var(--font-size-xxxxxxl);
  }

  h2 {
    font-size: var(--font-size-xxxxxl);
  }

  h3 {
    font-size: var(--font-size-xxxxl);
  }
  h4 {
    font-size: var(--font-size-xxxl);
  }
}
